
<!-- Notification Component -->
<!-- ID: {{ id }} -->
<div style="background: #FEF0F0;border: 1px solid #E60000;border-radius: 5px;padding: 10px;font-family: arial;margin: 10px;">
    <svg  viewBox="-324 202.3 192 192" style="width: 32px;height: 32px;color: #e60000;fill: #e60000;display: inline-block;vertical-align: middle;float: left;">
        <path d="M-228 336.8c-2.2 0-4-1.8-4-4v-42.5h-4c-2.2 0-4-1.8-4-4s1.8-4 4-4h8c2.2 0 4 1.8 4 4v46.5c0 2.2-1.8 4-4 4z" class="st0"></path><path d="M-220 338.3h-16c-2.2 0-4-1.8-4-4s1.8-4 4-4h16c2.2 0 4 1.8 4 4s-1.8 4-4 4z" class="st0"></path><path d="M-228 378.3c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80zm0-152c-39.7 0-72 32.3-72 72s32.3 72 72 72 72-32.3 72-72-32.3-72-72-72z" class="st0"></path><path d="M-230 269.3c-3.3 0-6-2.7-6-6s2.7-6 6-6 6 2.7 6 6-2.7 6-6 6zm0-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" class="st0"></path><path d="M-230 268.3c-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5-2.2 5-5 5zm0-8c-1.7 0-3 1.3-3 3s1.3 3 3 3 3-1.3 3-3-1.3-3-3-3z" class="st0"></path>
    </svg>
    <div class="alert-content" style="padding-left: 42px;">
        <h4 style="padding-left: 0;margin: 5px 0 13px;font-size: 16px;line-height: 22px;font-weight: bold;color: #333;">{{ parameters.title }}</h4>
        <p style=" margin-bottom: 8px;line-height: 20px;">{{ parameters.subtitle }}</p>
    </div>
</div>
